/* Core styles for the page */
body {
	margin: 0;
	padding: 0;
	background-color: #EAECEE;
	font-family: Verdana, sans-serif;
	font-size: 0.9em;
}

.show-status {
	width: 500px;
	margin-top: 10px;
	margin-right: 5px;
	margin-left: 5px;
	background-color: #f5f5f5;
	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}