<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="3.0" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee     http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <!--
   Note that most TicketMonster configuration is done by annotation-driven configs.
   The contents of this file just configure the Errai-based Administration Console.
 -->
  <filter>
  	<filter-name>RoleBasedAuthorizationFilter</filter-name>
  	<filter-class>org.jboss.jdf.example.ticketmonster.security.RoleBasedAuthorizationFilter</filter-class>
  	<init-param>
  		<param-name>loginUri</param-name>
  		<param-value>/#login</param-value>
  	</init-param>
  	<init-param>
  		<param-name>protectedResources</param-name>
  		<param-value>/admin/*: Administrator</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
    <filter-name>RoleBasedAuthorizationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>ErraiServlet</servlet-name>
    <servlet-class>org.jboss.errai.bus.server.servlet.DefaultBlockingServlet</servlet-class>
    <init-param>
      <param-name>service-locator</param-name>
      <param-value>org.jboss.errai.cdi.server.CDIServiceLocator</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErraiServlet</servlet-name>
    <url-pattern>*.erraiBus</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/faces/error.xhtml</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/faces/error.xhtml</location>
  </error-page>
  <context-param>
    <param-name>javax.faces.SKIP_COMMENTS</param-name>
    <param-value>true</param-value>
  </context-param>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>
